.card-container{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: auto;
    gap:10px;
}
.card-container p{
    font-family: "Ubuntu", sans-serif;
    margin-top: 0;
    color:#d3d0d0
}
.customCard-text{
    margin-bottom:40px;
}
.card-container h3{
    font-family: "Ubuntu", sans-serif;
    
    margin: 0%;
    display: inline-block; 
    /* background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%); */
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
}
.card{
    --bs-card-border-color:none !important;
}
.card-container p{
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
    color: #535353;
    line-height: 1.6;
}
.customCard{
    padding:50px;
    padding-top:0px;
    padding-top: 50px;
}
.card-item{
    max-width:443px;
    
}
.heading-card{
    border-left: 8px solid #455db5ce;
    padding-left:10px;
    font-family: "Ubuntu", sans-serif;
}

.customCard-text h2{font-size: 38px;
    
    font-family: "Ubuntu", sans-serif;
    color: #7f8c8d;
    margin: 0%;
    
    display: inline-block; /* To ensure box-shadow works properly */
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    /* background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* box-shadow: 0px 0px 14px -7px #f09819; */}
.customCard-text p{font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    color: #535353;
    line-height: 1.6;
    margin-top: 8px;}
@media (max-width:500px){
    .card-container{
        flex-direction: column;
        gap: 20px;
    }
    .customCard-text h2{
        font-size: 26px;
           }
    .customCard-text p{
        font-size: 14px;
           }
           .heading-card{
            border-left: 4px solid #455db5ce;
            padding-left:10px;
            font-size: 26px !important;
        }
        .customCard{
            padding-inline: 20px;
            padding-top:50px;
        }
        .text-center.mt-4.pt-2{
            margin: 0px;
            padding: 0px;
            display: none;
        }
        .card-item{
            font-size: 14px;
            width: auto !important;;
        }
        .py-5{
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
    }
@media (max-width:800px){
   .customCard-text h2{
font-size: 32px;
   }
   .customCard-text p{
    font-size: 16px;
       }
}
