

.each-slide-effect>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height:85vh;
 
}


.inside-slide-div {
  height: 300px;
  width: 90%;
  background-color: hsla(0, 0%, 0%, 0.7);
  border-radius:20px;
 
  

}

.inside-slide-div div {
  display: flex;
  
  padding:60px;
  flex-direction: column;
  
  justify-content: space-between;
}

.inside-slide-div div h1 {
  font-size: 50px;
  font-weight: 900;
  /* font-family: "Archivo Black", sans-serif; */
  font-family: "Ubuntu", sans-serif;
  color:white;

  
    
}

.inside-slide-div div h3 {
  font-size: 22px;
  font-weight: 300;

  font-family: "Ubuntu", sans-serif;
  color: white;
  margin-top: 0;
}

.inside-slide-div div button {
  width: 150px ;
  margin-top: 20px;
  padding: 10px 20px ;
  text-align: center ;
  text-transform: uppercase ;
  transition: 0.5s ;
  background-size: 200% auto ;
  color: white ;
  border-radius: 10px ;
  display: block ;
  border: 0px ;
  font-weight: 600;
  font-family:"Ubuntu", sans-serif;
  /* box-shadow: 0px 0px 14px -7px #f09819; */
  box-shadow: 0px 0px 14px -7px #673FD7 ;
  /* background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%); */
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%) !important;

  cursor: pointer ;
  user-select: none ;
  -webkit-user-select: none ;
  touch-action: manipulation ;

}
.buttonStyleRight{
background: none;

margin-right: 10px;
border:0px;
opacity: 0.9;
}
.buttonStyleLeft{
  opacity: 0.9;
  background: none;
  border: 0px;
  margin-left: 10px;
}

.inside-slide-div div button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.inside-slide-div div button:active {
  transform: scale(0.95);
}
.inside-slide-div div button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.inside-slide-div div button:active {
  transform: scale(0.95);
}
.carouselButton{
  margin: 0%;
}
@media (max-width: 1024px) {

  .inside-slide-div {
    height: 200px;
    width: 80%;
  }

  .inside-slide-div div {
    padding-left: 20px;
    padding-top: 20px;
  }

  .inside-slide-div div h1 {
    font-size: 32px;
  }

  .inside-slide-div div h3 {
    font-size: 18px;
  }

  .inside-slide-div div button {
    width: 130px ;
    padding: 8px 15px ;
    font-size: 13px;
  }
}

@media (max-width:767px) {

  .carouselButton {
   display: none;
  }
    
  .inside-slide-div div h1 {
    font-size: 28px;
  }

  .inside-slide-div div h3 {
    font-size: 16px;
  }
}
@media(max-width:500px){
  .each-slide-effect>div{
    height: 72vh;
  }
  .carouselButton{
    display: none !important;
  }
  .inside-slide-div{
    align-items: center;
    height: auto;
    width:87%;
    padding-right: 10px;
    bottom:0;
    position: absolute;
    border-radius: 20px 20px 0 0;
  }
  .inside-slide-div div{
    padding: 20px;
  }
  .inside-slide-div div h3{
    margin-top: 9px;
  }
  .inside-slide-div div h1{
    font-weight: 800;
    font-size: 32px;
  }
  .each-slide-effect{
    position:relative;
  }
  
  
}