.logo-main-container {
  margin-top: 50px;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-inline: 50px; 
  margin-bottom: 30px;
}

.logo-inner-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.logo-heading-client {
  text-align: center;
  font-size: 38px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 50px;
  margin-bottom: 20px;
  display: inline-block;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-left: 8px solid #455db5ce;
  padding-left: 10px;
}

@media (max-width: 800px) {
  .logo-heading-client {
    font-size: 32px;
    margin-left: 20px;  
  }

  .logo-inner-container {
    gap: 25px;
  }
}

@media (max-width: 500px) {
  .logo-heading-client {
    font-size: 26px;
    margin-left: 10px;
  }

  .logo-inner-container {
    gap: 15px; 
  }
}
