@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sub-menu {
    @apply absolute top-[4.2rem] p-[15px] rounded-[6px] origin-[50%_-170px] backdrop-blur bg-white/[0.04];
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } 
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  white-space: nowrap;
  display: flex;
  gap: 80px;
}

.logo-main-container {
  height: auto;
}

.logo-heading-client {
  margin-bottom: 1rem;
}

.logo-heading-client {
  font-size: 38px;
  font-family: "Ubuntu", sans-serif;
  margin: 0%;
  display: inline-block;
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 800px) {
  .logo-heading-client {
    font-size: 32px;
  }
}
@media (max-width: 500px) {
  .logo-heading-client {
    font-size: 26px;

    padding-left: 10px;
  }
}
