.whatWeDo-container {
    background-color: rgb(236, 235, 233);
    padding: 50px;
    margin-bottom: 0%;

}

.whatWeDo-text h2 {
    font-size: 38px;
    font-family: "Ubuntu", sans-serif;
    color: #7f8c8d;
    margin: 0%;
    display: inline-block; /* To ensure box-shadow works properly */
    /* background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%); */
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* box-shadow: 0px 0px 14px -7px #f09819; */
    border-left: 8px solid #455db5ce;
    padding-left:10px;
}

.whatWeDo-text p {
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    color: #535353;
    line-height: 1.6;
    margin-top: 8px;
    margin-bottom: 20px;

}
.button-group{
    /* background-color: #faf9f7 ; */
    padding: 20px ;
    border: 0 ;
    margin-left: 2px ;
    font-size: 16px ;
    font-weight:400 ;
    color:#535353 ;
    border: 1px solid #c1c4c4 ;
    box-shadow: none;
   
}
.Button-group {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 1px;
    box-shadow: none;
    border-radius: 0px!important;
  }
.button-group:hover{
    cursor: pointer;
    box-shadow:none;

}
.Button-group:hover{
    cursor: pointer;
    box-shadow:none;

}
@media (max-width:800px){
    .whatWeDo-text h2{
            font-size:32px;
            border-left: 4px solid #455db5ce;
    padding-left:10px;
            
    }
    .whatWeDo-text p{
            font-size:16px;

    }
    .Button-group {
        display: flex;
        flex-wrap: wrap;
        
      }
    
    }
@media (max-width:500px){
    .whatWeDo-text h2{
            font-size:26px;
            
    }
    .whatWeDo-container{
        padding:50px 20px 50px;

    }
    .whatWeDo-text p{
        font-size:14px;

}

.btn-group, .btn-group-vertical {
    box-shadow: none !important;
    
}
.button-group{
    font-size:14px;
}
.btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn, .btn-group>.btn-group:not(:first-child)>.btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group>.btn:not(:last-child):not(.dropdown-toggle), .btn-group>.btn.dropdown-toggle-split:first-child, .btn-group>.btn-group:not(:last-child)>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group>:not(.btn-check:first-child)+.btn, .btn-group>.btn-group:not(:first-child) {
margin-left: 2px !important;
}
}